#lightbox{
	background-color:#000;
	padding: 25px;
    -moz-box-shadow: 3px 13px 25px #121212;
    -webkit-box-shadow: 3px 13px 25px #121212;
	}
#lightboxDetails,
#lightboxDetails a {
	font: normal 14px/18px Helvetica, Verdana, Arial, sans-serif;
	padding-top: 0.4em;
    color: #999;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ display: none; float: right; }
#closeButton{ display: none; top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{
	background: #282828;
    opacity: 0.9; /* all other browsers */
	-moz-opacity: 0.9; /* mozilla */
	filter: alpha(opacity=00); /* IE 5 - 7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */
	}
	
